html, body {
  height: 100%;
  background: whitesmoke;
}

html::-webkit-scrollbar {
  background-color: whitesmoke;
  width: 4px;
  height: 0;
}

html::-webkit-scrollbar-thumb {
  background-color: #42424242;
}

.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 3rem;
  color: #36057E;
  font-weight: 600;
  margin-top: -6px;
  bottom: 0;
}

.visualisation svg {
  padding-top: 1rem;
  background: #fff;
}

.feather-icon {
  vertical-align: top;
}

.label {
  font-weight: normal;
}

.button {
  margin-right: 5px;
}

.sliders {
  cursor: pointer;
  transition-duration: .15s;
}
